.spin-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;  
    box-shadow: 0 0 8px 8px white inset; 
}
.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff7d;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}