.card {
    width: 941px;
    height: fit-content;
    border: 1px lightgrey solid;
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    &--singlePage {
      margin-top: 24px
    }
  }
  .article__body {
    color: rgba(0, 0, 0, 0.75);
    font-size: 18px;
  }
  .card-avatar {
    width: 46px;
    height: 46px;
    margin-left: 12px;
  }
  .ant-card-meta-title {
    margin-bottom: 0 !important;
  }
  .ant-card-body {
    padding: 19px 15px 24px 14px !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px
  }
  .ant-card-body::before, .ant-card-body::after {
    display: none !important;
  }
  .ant-card-meta {
    flex-direction: row-reverse;
    text-align: end;
  }
  .ant-card-meta-avatar {
    padding: 0 !important;
  }
  .card-header-left {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .card-header-title {
    font-weight: 400;
    font-size: 20px; 
    color: rgba(24, 144, 255, 1);
  }
  .card__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
  }
  .article__tag {
    margin-top: 6px;
    background-color: white;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    color: rgba(0, 0, 0, 0.5);
    & span {
      line-height: 14.52px;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .article__description {
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5)
  }