@import './components/Atricle/Article.scss';
@import './components/ArticleList/ArticleList.scss';
@import './components/Header/Header.scss';
@import './components/Footer/Footer.scss';
@import './Pages/form.scss';
@import './components/BlurSpinner/BlurSpinner.scss';

body {
  height: 100vh;
}
* {
  box-sizing: border-box;
}
.blog-paltform-main {
  height: fit-content;
  display: flex;
  justify-content: center;
}
.app {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}
